<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="author" content="Mike Mackintosh"/>
  <meta name="robots" content="noindex" />
  <link rel="shortcut icon" href="/favicon.png">

  <title><%= @page_title ||= 'KnoxBox - OpenVPN Management' %></title>
    
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="/css/animate.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">  
  <script src="/js/jquery-2.1.1.js"></script>
</head>

<body class="top-navigation">
<div id="wrapper">
  <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom white-bg">
      <nav class="navbar navbar-static-top" role="navigation">
          <div class="navbar-header">
              <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                  <i class="fa fa-reorder"></i>
              </button>
              <a href="/" class="navbar-brand">KnoxBox</a>
          </div>
          <div class="navbar-collapse collapse" id="navbar">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="/">
                          <i class="fa fa-home"></i> Home
                      </a>
                  </li>
              <!--<% if is_authenticated? %>-->
                  <li class="dropdown">
                      <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user"></i> Account <span class="caret"></span></a>
                      <ul role="menu" class="dropdown-menu">
                          <li><a href="/user/download"><i class="fa fa-download"></i> Download Configuration</a></li>
                          <li><a href="/user/manage"><i class="fa fa-pencil"></i> Manage</a></li>
                          <li><a href="/user/audit"><i class="fa fa-lock"></i> Audit Log</a></li>
                      </ul>
                  </li>                  
                <!--<% if is_admin? %>-->                  
                  <li class="dropdown">
                      <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-cog"></i> Administration <span class="caret"></span></a>
                      <ul role="menu" class="dropdown-menu">
                          <li><a href="/admin/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                          <li><a href="/admin/users"><i class="fa fa-users"></i> User Management</a></li>
                          <li><a href="/admin/configuration"><i class="fa fa-cogs"></i> Server Configuration</a></li>
                          <li><a href="/admin/integrations"><i class="fa fa-code-fork"></i> Integrations</a></li>
                      </ul>
                  </li>
                <!--<% end %>-->
                  <li>
                      <a href="/logout">
                          <i class="fa fa-sign-out"></i> Log out
                      </a>
                  </li>
                <!--<% else %>-->
                  <li><a href="/authorize">Login</a></li>
                <!--<% end %>-->
              </ul>
          </div>
      </nav>
    </div>
    <div class="wrapper wrapper-content">
        <div class="container">
            <div class="row">
            <!-- begin rendered content -->

<%= yield %>

            <!-- end rendered content -->
            </div>
        </div>
    </div>

    <div class="footer">
        <div>
            <div class="col-md-6 col-sm-12">
              <strong>Copyright</strong> <a href="https://knoxbox.github.io">KnoxBox</a> &copy; 2015 | 
              Maintained by <a href="https://twitter.com/#/mikemackintosh">Mike Mackintosh</a>
            </div>
        </div>
    </div>

  </div>
</div>

<!-- Mainly scripts -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/js/inspinia.js"></script>
<script src="/js/plugins/pace/pace.min.js"></script>

<!-- Flot -->
<script src="/js/plugins/flot/jquery.flot.js"></script>
<script src="/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/js/plugins/flot/jquery.flot.resize.js"></script>

<!-- Morris -->
<script src="/js/plugins/morris/raphael-2.1.0.min.js"></script>
<script src="/js/plugins/morris/morris.js"></script>

<!-- ChartJS-->
<script src="/js/plugins/chartJs/Chart.min.js"></script>

<!-- END NEED TO WORK ON -->
</body>
</html>