<div class="row">
  <div class="col-sm-4 col-md-2">
    <div class="custom-badges">
      <a href="#">
        <i class="glyphicon glyphicon-user"></i>
        Users
        <span class="badge bagde-blue">2</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 col-md-2">
    <div class="custom-badges">
      <a href="#">
        <i class="glyphicon glyphicon-user"></i>
        Users
        <span class="badge bagde-blue">2</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4 col-md-2">
    <div class="custom-badges">
      <a href="#">
        <i class="glyphicon glyphicon-user"></i>
        Users
        <span class="badge bagde-blue">2</span>
      </a>
    </div>
  </div>
</div>