<div class="row">
  <div class="col-sm-12 col-md-6 col-md-offset-3">
    <div class="widget-box">
      <div class="widget-title">
        <h2 class="aligncenter">Welcome to KnoxBox</h2>
      </div>
      <div class="widget-container">
        <p class="aligncenter">Please login to continue!</p>
      </div>      
      <div class="widget-container">
        <p class="aligncenter"><a class="btn btn-primary" href="/authorize">Login</a></p>
      </div>
    </div>
  </div>
</div>
